@model Project_v1.Areas.Admin.Models.ItemModel
<a type="button" class="btn-sm btn-success btn" href="@Url.Action("AddToCart","Item",new { id=Model.Id})">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <span>Add To Cart</span>
</a>
