@model IEnumerable<Project_v1.Entities.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>
@Html.Partial("_SearchbarPartial")
<div class="row text-center" style="display:flex;flex-wrap:wrap;">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="@Url.Content(item.ImageUrl)">
                <div class="caption">
                    <h4>@item.Name</h4>
                </div>
            </div>
        </div>
    }
</div>