@model IEnumerable<Project_v1.Areas.Admin.Models.ProductModel>
@using Project_v1.Areas.Admin.Models;

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>
@Html.Partial("_SearchbarPartial")
<div class="row text-center" style="display:flex;flex-wrap:wrap;">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="@Url.Content(item.ImageUrl)">
                <div class="caption">
                    <h4>@item.Name</h4>
                    <strong>Product Type: @item.ProductType</strong>
                </div>
            </div>
        </div>
    }
</div>
